{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    {{ component('breadcrumbs', {'title': block('title')}) }}


    <section class="auth">
        <div class="container">
            <h2>Perte du mot de passe</h2>
            <div class="row justify-content-center">
                <div class="info-box" style="width: 700px;">
                    {{ form_start(resetForm) }}
                        <div class="col-lg-12">
                            {{ form_label(resetForm.plainPassword.first) }}
                            {{ form_widget(resetForm.plainPassword.first) }}
                            {{ form_errors(resetForm.plainPassword.first) }}
                        </div>
                        <div class="col-lg-12">
                            {{ form_label(resetForm.plainPassword.second) }}
                            {{ form_widget(resetForm.plainPassword.second) }}
                            {{ form_errors(resetForm.plainPassword.second) }}
                        </div>
                        <div class="text-center mt-4">
                            <input class="btn btn-primary" type="submit" name="submit" value="Réinitialiser">
                        </div>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
