{% extends 'base.html.twig' %}

{% block title %}Aplication{% endblock %}

{% block body %}
    {{ component('breadcrumbs', {'title': block('title')}) }}


    <!-- Services Section - Home Page -->
    <section id="services" class="services">
        <div class="container section-title" data-aos="fade-up">
            <h2>Farming Simulator</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 " data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item d-flex">
                        <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                    <div>
                    <h4 class="title"><a class="stretched-link">Tache à effectuer</a></h4>
                    <p class="description">Retrouvez ici les taches que nos joueurs ont signalés comme non effectué. Si vous avez une tache à signaler vous pouvez le faire ci-dessous</p>
                </div>
            </div>
            <table class="mt-3">
                <thead>
                    <tr>
                        <th style="width: 50%;">Type de tache</th>
                        <th>Signalé par</th>
                        <th>Signalé le</th>
                        <th>Délai</th>
                        <th>Map</th>
                        <th style="width:20px;">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if taches %}
                        {% for tache in taches %}
                            <tr>
                            <td>{{ tache.type }}</td>
                            <td>{{ tache.auteur.username }}</td>
                            <td>{{ tache.createdAt|date('d-m-Y') }}</td>
                            <td>{{ tache.delai|date('d-m-Y') }}</td>
                            <td>{{ tache.map }}</td>
                            <td>
                            &nbsp;&nbsp;<a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Confirmer l'exécution" class="activation" href="{{ path('app_application_validation', {'id': tache.id}) }}"><i class="fa-solid fa-square-check"></i></a>&nbsp;&nbsp;
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">Aucune tâche à afficher pour le moment</td>
                        </tr>
                    {% endif %}
                    
                    
                    
                </tbody>
            </table>
        </div>
    </section>

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box" data-aos="fade-up" data-aos-delay="400">
                    {{ form_start(formTache) }}
                        <div class="row">
                            <div class="col-lg-12">
                            {{ form_label(formTache.type) }}
                            {{ form_widget(formTache.type) }}
                            {{ form_errors(formTache.type) }}
                            </div>
                            <div class="col-lg-6">
                            {{ form_label(formTache.delai) }}
                            {{ form_widget(formTache.delai) }}
                            {{ form_errors(formTache.delai) }}
                            </div>
                            <div class="col-lg-6">
                            {{ form_label(formTache.map) }}
                            <div class="custom-select">
                                {{ form_widget(formTache.map) }}
                            </div>
                            {{ form_errors(formTache.map) }}
                            </div>
                            <div class="col-lg-12 text-start">
                                <input class="btn btn-primary mt-2" type="submit" value="Enregistrer la publication">
                            </div>
                        </div>
                    {{ form_end(formTache) }}
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section - Home Page -->
    <section id="ets" class="services">
        <div class="container section-title" data-aos="fade-up">
            <h2>Euro Truck Simulator</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 " data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item d-flex">
                        <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
                    <div>
                    <h4 class="title"><a class="stretched-link">Evenements à venir</a></h4>
                    <p class="description">Retrouvez ici les évènements à venir sur Euro Trucks Simulator, ici nos joueurs vous proposerons des convois perso ou encore d'autres convois sur les serveurs de Trucker MP</p>
                </div>
            </div>
            <table class="mt-3">
                <thead>
                    <tr>
                        <th>Visuel</th>
                        <th>Créé par</th>
                        <th>Date et heure de l"évènement</th>
                        <th>Type de session</th>
                    </tr>
                </thead>
                <tbody>
                    {% if evenements %}
                        {% for evenement in evenements.data %}
                            <tr>
                            <td>
                                {% if evenement.visuel %}
                                    <a href="{{ evenement.visuel }}" data-gallery="portfolio-gallery-app" class="glightbox">
                                        <img src="{{ evenement.visuel }}" class="img-fluid img-thumbnail" alt="" width="100px">
                                    </a>
                                {% else %}
                                    <a href="/images/evenements/no_visuel.png" data-gallery="portfolio-gallery-app" class="glightbox">
                                        <img src="/images/evenements/no_visuel.png" class="img-fluid img-thumbnail" alt="" width="50px">
                                    </a>
                                {% endif %}
                                
                                
                            </td>
                            <td>{{ evenement.auteur.username }}</td>
                            <td>{{ evenement.dateEvents|date('d-m-Y H:i') }}</td>
                            <td>{{ evenement.typeSession }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">Aucune tâche à afficher pour le moment</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if evenements %}
                {% set pageCount = evenements.pages %}
                {% set currentPage = evenements.page %}
                {% include "partials/_pagination.html.twig" %}
            {% endif %}
            
        </div>
    </section>

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box" data-aos="fade-up" data-aos-delay="400">
                    {{ form_start(formEvents) }}
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_label(formEvents.description) }}
                                {{ form_widget(formEvents.description) }}
                                {{ form_errors(formEvents.description) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_label(formEvents.dateEvents) }}
                                {{ form_widget(formEvents.dateEvents) }}
                                {{ form_errors(formEvents.dateEvents) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_label(formEvents.typeSession) }}
                                <div class="custom-select">
                                    {{ form_widget(formEvents.typeSession) }}
                                </div>
                                {{ form_errors(formEvents.typeSession) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_label(formEvents.visuel) }}
                                {{ form_widget(formEvents.visuel) }}
                                {{ form_errors(formEvents.visuel) }}
                            </div>
                            <div class="col-lg-12 text-start">
                                <input class="btn btn-primary mt-2" type="submit" value="Enregistrer la publication">
                            </div>
                        </div>
                    {{ form_end(formEvents) }}
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready( function () {
            $.datetimepicker.setLocale('fr');
            $('#taches_form_delai').datetimepicker(
                {
                    timepicker:false,
                    minDate:'0',//yesterday is minimum date(for today use 0 or -1970/01/01)
                    format:'Y/m/d',
                },
            );
            $.datetimepicker.setLocale('fr');
            $('#evenements_form_dateEvents').datetimepicker(
                {
                    minDate:'0',//yesterday is minimum date(for today use 0 or -1970/01/01)
                    format:'Y/m/d H:i',
                    step:15,
                },
            );
            $(".activation").click(function (event) {
                event.preventDefault();
                url = $(this).attr('href');
                Swal.fire({
                    text: "Confirmez vous vraiment l'exécution de la tâche ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#82A800',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirmation'
                }).then((result) => {
                    if(result.isConfirmed) {
                        document.location.href = url;
                    }
                })
            });
        });
    </script>


{% endblock %}
