{% extends 'base.html.twig' %}

{% block title %}Editer une publication{% endblock %}

{% block body %}
    {{ component('breadcrumbs', {'title': block('title')}) }}
    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box" data-aos="fade-up" data-aos-delay="100">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_label(form.categories) }}
                                <div class="custom-select">
                                    {{ form_widget(form.categories) }}
                                </div>
                                {{ form_errors(form.categories) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_label(form.titre) }}
                                {{ form_widget(form.titre) }}
                                {{ form_errors(form.titre) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_label(form.introduction) }}
                                {{ form_widget(form.introduction) }}
                                {{ form_errors(form.introduction) }}
                            </div>
                            <div class="col-lg-12 mt-3">
                                {{ form_label(form.contenu) }}
                                {{ form_widget(form.contenu) }}
                                {{ form_errors(form.contenu) }}
                            </div>
                            <div class="col-lg-12 mt-3 mb-3">
                                {{ form_label(form.img) }}
                                {{ form_widget(form.img) }}
                                {{ form_errors(form.img) }}
                            </div>
                            <div class="col-lg-12 text-start">
                                {{ form_widget(form.active) }}
                                <input class="btn btn-primary mt-2" type="submit" value="Enregistrer la publication">
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
