{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}
{% set pageCount = articles.pages %}
{% set currentPage = articles.page %}
{% block body %}
{{ component('breadcrumbs', {'title': block('title')}) }}    <section>
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h2>Liste des publications</h2>
            {% if app.user.role == 'ROLE_ADMIN' %}
                <p>
                    <a href="{{ path('app_admin_categories_index') }}" class="btn btn-success">Gérer les catégories</a>
                </p>   
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Catégorie</th>
                        <th>Date de publication</th>
                        <th style="width:120px;">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles.data %}
                        
                        <tr>
                            <td>{{ article.titre }}</td>
                            <td>{{ article.auteur.username }}</td>
                            <td>{{ article.categories.nom }}</td>
                            <td>{{ article.date|format_datetime(locale='fr',pattern="d MMMM YYYY") }}</td>
                            <td>
                                &nbsp;&nbsp;<a class="edit" href="{{ path('app_articles_edit', {'id': article.id}) }}"><i   class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                {% if article.active == false %}
                                    <a class="powerOff" href="{{ path('app_publi_activate', {'id': article.id}) }}"><i   class="fa fa-power-off" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                {% else %}
                                    <a class="powerOn" href="{{ path('app_publi_activate', {'id': article.id}) }}"><i   class="fa fa-power-off" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                {% endif %}
                                <a class="discord" href="https://bot.team-occitanie.fr/post-article/query/?title={{article.titre}}&url=https://www.team-occitanie.fr{{ path('app_blog_show', {'slug': article.slug}) }}&username={{article.auteur.username}}&avatar=https://www.team-occitanie.fr{{article.auteur.avatar}}&description={{article.introduction}}&image=https://www.team-occitanie.fr{{article.img}}"><i   class="fa-brands fa-discord" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a class="remove" href="{{ path('app_publi_delete', {'id': article.id}) }}"><i   class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "partials/_pagination.html.twig" %}
        </div>
    </section>
    <script>
        $(document).ready( function () {
            $(".remove").click(function (event) {
                event.preventDefault();
                url = $(this).attr('href');
                Swal.fire({
                    text: "Voulez vous vraiment supprimer cette publication ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#82A800',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Supprimer'
                }).then((result) => {
                    if(result.isConfirmed) {
                        document.location.href = url;
                    }
                })
            });
            $(".powerOff").click(function (event) {
                event.preventDefault();
                url = $(this).attr('href');
                Swal.fire({
                    text: "Voulez vous activer cette publication ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#82A800',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Activer'
                }).then((result) => {
                    if(result.isConfirmed) {
                        document.location.href = url;
                    }
                })
            });
            $(".powerOn").click(function (event) {
                event.preventDefault();
                url = $(this).attr('href');
                Swal.fire({
                    text: "Voulez vous désactiver cette publication ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#82A800',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Désactiver'
                }).then((result) => {
                    if(result.isConfirmed) {
                        document.location.href = url;
                    }
                })
            });
            $(".discord").click(function (event) {
                event.preventDefault();
                
                Swal.fire({
                text: "Voulez vous vraiment partager cette publication ?",
                showCancelButton: true,
                confirmButtonColor: '#82A800',
                cancelButtonColor: '#d33',
                confirmButtonText: "Partager",
                showLoaderOnConfirm: true,
                icon: "question",
                preConfirm: async () => {
                    try {
                    url = $(this).attr('href');
                    const response = await fetch(url);
                    if (!response.ok) {
                        return Swal.showValidationMessage(`
                        ${JSON.stringify(await response.json())}
                        `);
                    }
                    return response.json();
                    } catch (error) {
                    Swal.showValidationMessage(`Une erreur c'est produite, veuillez réessayer!`);
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                    text: `${result.value.statut}`,
                    });
                }
                });
            });
        });
    </script>
{% endblock %}