<h3 class="sidebar-title">Derniers articles</h3>
<div class="sidebar-item recent-posts">
    {% for derniersArticle in this.recentArticle %}
        <div class="post-item clearfix">
            <img src="{{ derniersArticle.img }}" alt="">
            <h4><a href="{{ path('app_blog_show', {'slug': derniersArticle.slug}) }}">{{ derniersArticle.titre }}</a></h4>
            <time datetime="{{ derniersArticle.date|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}">{{ derniersArticle.date|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</time>
        </div>
    {% endfor %}
</div>