<h3 class="sidebar-title">Categories</h3>
<div class="sidebar-item categories">
    <ul>
        {% for categorie in this.allCategorie %}
            <li><a href="{{ path('app_blog_categories', {'slug': categorie.slug}) }}">{{ categorie.nom }} <span>({{ categorie.articles|length }})</span></a></li>
            {% for sousCat in categorie.parent %}
            <ul>
            <li><a href="{{ path('app_blog_categories', {'slug': sousCat.slug}) }}">{{ sousCat.nom }} <span>({{ sousCat.articles|length }})</span></a></li>
            </ul>
            {% endfor %}
        {% endfor %}
    </ul>
</div>