<div {{ attributes }} >
    {{ form_start(form, {attr: {'data-model': '*'}}) }}
        <div class="row">
            <div class="col-lg-6">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'value' : app.user.email}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="col-lg-6">
                {{ form_label(form.ancienPassword) }}
                {{ form_widget(form.ancienPassword) }}
                {{ form_errors(form.ancienPassword) }}
            </div>
            <div class="col-lg-12 text-start">
                <input class="btn btn-primary mt-2" type="submit" value="Enregistrer">
            </div>
        </div>
    {{ form_end(form) }}
</div>