{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Blog</li>
            </ol>
            <h2>Blog</h2>
        </div>
    </section>
    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-header">
                    <h2>Editer mon profil</h2>
                </div>
                <div class="info-box">
                    {{ form_start(formUserInfo) }}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_label(formUserInfo.poste) }}
                                <div class="custom-select">
                                    {{ form_widget(formUserInfo.poste) }}
                                </div>
                                {{ form_errors(formUserInfo.poste) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_label(formUserInfo.username) }}
                                {{ form_widget(formUserInfo.username) }}
                                {{ form_errors(formUserInfo.username) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_label(formUserInfo.description) }}
                                {{ form_widget(formUserInfo.description) }}
                                {{ form_errors(formUserInfo.description) }}
                            </div>
                            <div class="col-lg-12 mt-3">
                                {{ form_label(formUserInfo.avatar) }}
                                {{ form_widget(formUserInfo.avatar) }}
                                {{ form_errors(formUserInfo.avatar) }}
                            </div>
                            <div class="col-lg-12 text-start">
                                <input class="btn btn-primary mt-2" type="submit" value="Enregistrer">
                            </div>
                        </div>
                    {{ form_end(formUserInfo) }}
                </div>
            </div>
        </div>
    </section>

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-header">
                    <h2>Modifier mes identifiants</h2>
                </div>
                <div class="info-box">
                    {{ form_start(formUserCredentials) }}
                        <div class="row">
                            <div class="col-lg-4">
                                {{ form_label(formUserCredentials.email) }}
                                {{ form_widget(formUserCredentials.email) }}
                                {{ form_errors(formUserCredentials.email) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_label(formUserCredentials.ancienPassword) }}
                                {{ form_widget(formUserCredentials.ancienPassword) }}
                                {{ form_errors(formUserCredentials.ancienPassword) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_label(formUserCredentials.plainPassword) }}
                                {{ form_widget(formUserCredentials.plainPassword) }}
                                {{ form_errors(formUserCredentials.plainPassword) }}
                            </div>
                            <div class="col-lg-12 text-start">
                                <input class="btn btn-primary mt-2" type="submit" value="Enregistrer">
                            </div>
                        </div>
                    {{ form_end(formUserCredentials) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
