{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% set pageCount = users.pages %}
    {% set currentPage = users.page %}
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Blog</li>
            </ol>
            <h2>Blog</h2>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Liste des membres</h2>
            <table>
                <thead>
                    <tr>
                        <th>Prenom</th>
                        <th>Fonction</th>
                        <th>Poste</th>
                        <th>Email</th>
                        <th style="width: 20px;">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users.data %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>
                                {% if user.role == 'ROLE_ADMIN' %}
                                    Administrateur
                                {% elseif user.role == 'ROLE_USER' %}
                                    Joueur
                                {% elseif user.role == 'ROLE_MODO' %}
                                    Modérateur
                                {% elseif user.role == 'ROLE_EDIT' %}
                                    Editeur
                                {% endif %}
                            </td>
                            <td>{{ user.poste }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                &nbsp;&nbsp;<a class="edit" href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                <a class="remove" href="{{ path('app_user_delete', {'id': user.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "partials/_pagination.html.twig" %}
        </div>
    </section>

    <script>
        $(document).ready( function () {
            $(".remove").click(function (event) {
                event.preventDefault();
                url = $(this).attr('href');
                Swal.fire({
                    text: "Voulez vous vraiment supprimer ce joueur ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#82A800',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'supprimer'
                }).then((result) => {
                    if(result.isConfirmed) {
                        document.location.href = url;
                    }
                })
            });
        });
    </script>
{% endblock %}
